In [24]:
import pandas as pd

In [25]:
import numpy as np

In [26]:
#1.Load the dataset into your notebook
df = pd.read_csv("C:/Users/fares/bootCamp_py/online_retail_II.csv")
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [28]:
#2.Randomly select 200k row from the dataset.
dfRandomSelect = df.sample(n=200000)

In [29]:
#2.result: 
print(dfRandomSelect)

       Invoice StockCode                        Description  Quantity  \
570176  540238     22222          CAKE PLATE LOVEBIRD WHITE         1
730856  554808     22896              PEG BAG APPLES DESIGN         1
282424  516892     21531       RED RETROSPOT SUGAR JAM BOWL         1
590425  541684     72819       CUPID DESIGN SCENTED CANDLES        13
582115  541105     22386            JUMBO BAG PINK POLKADOT       200
...        ...       ...                                ...       ...
149194  503584     22021        BLUE FELT EASTER EGG BASKET         1
843370  564818     23197  SKETCHBOOK MAGNETIC SHOPPING LIST         1
767432  558262     22382         LUNCH BAG SPACEBOY DESIGN        100
195188  508060     22412    METAL SIGN NEIGHBOURHOOD WITCH          1
776786  559052     22712                   CARD DOLLY GIRL          2

                InvoiceDate  Price  Customer ID         Country
570176  2011-01-05 14:44:00   4.21          NaN  United Kingdom
730856  2011-05-26 13:01:00   2.55      17059.0  United Kingdom
282424  2010-07-23 15:09:00   5.06          NaN  United Kingdom
590425  2011-01-20 15:22:00   2.55      15498.0  United Kingdom
582115  2011-01-13 14:34:00   1.65      16029.0  United Kingdom
...                     ...    ...          ...             ...
149194  2010-04-01 16:55:00   1.65      17961.0  United Kingdom
843370  2011-08-30 12:10:00   3.29          NaN  United Kingdom
767432  2011-06-28 08:45:00   1.45      14646.0     Netherlands
195188  2010-05-12 13:43:00   2.10      13052.0  United Kingdom
776786  2011-07-05 16:53:00   0.83          NaN  United Kingdom

[200000 rows x 8 columns]

df['Total_Sales'] = df['Price'] * ['Quantity']

In [30]:
#3.Determine the total sales per invoice and identify the top 5 invoices.
df['Total_Sales'] = df['Price'] * df['Quantity'].iloc[:]
Total_Sales_Per_invoice = df.groupby('Invoice')['Total_Sales'].sum().sort_values(ascending=False)

In [31]:
#3.result
print(Total_Sales_Per_invoice.head(5))

Invoice
581483    168469.60
541431     77183.60
574941     52940.94
576365     50653.91
533027     49844.99
Name: Total_Sales, dtype: float64

In [32]:
#4.Compute the total sales per customer and list the top 5 customers.
total_sales_per_customer = df.groupby('Customer ID')['Total_Sales'].sum().sort_values(ascending=False)
#4.result:
print(total_sales_per_customer.head(5))

Customer ID
18102.0    598215.22
14646.0    523342.07
14156.0    296564.69
14911.0    270248.53
17450.0    233579.39
Name: Total_Sales, dtype: float64

In [33]:
#5.Identify the top 5 selling items during this period.
selling_items = df.groupby('Description')['Quantity'].sum().sort_values(ascending=False)
#5.result:
print(selling_items.head(5))

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     108545
WHITE HANGING HEART T-LIGHT HOLDER     93050
ASSORTED COLOUR BIRD ORNAMENT          81306
JUMBO BAG RED RETROSPOT                78090
BROCADE RING PURSE                     70700
Name: Quantity, dtype: int64

In [34]:
#6.the top 10 best sellers calculation
top_10_best_sellers = selling_items.head(10)
print(top_10_best_sellers)

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     108545
WHITE HANGING HEART T-LIGHT HOLDER     93050
ASSORTED COLOUR BIRD ORNAMENT          81306
JUMBO BAG RED RETROSPOT                78090
BROCADE RING PURSE                     70700
PACK OF 60 PINK PAISLEY CAKE CASES     56575
60 TEATIME FAIRY CAKE CASES            54366
SMALL POPCORN HOLDER                   49616
PACK OF 72 RETROSPOT CAKE CASES        49344
PACK OF 72 RETRO SPOT CAKE CASES       46106
Name: Quantity, dtype: int64

In [35]:
#6.from the bottom 10 sellers calculation
bottom_10_sellers = selling_items.tail(10)
print(bottom_10_sellers)

Description
Zebra invcing error             -9000
Printing smudges/thrown away    -9058
Given away                     -10200
check                          -12112
ebay sales                     -13630
Unsaleable, destroyed.         -15644
missing                        -16467
printing smudges/thrown away   -19200
given away                     -20000
?                              -26757
Name: Quantity, dtype: int64

In [36]:
import random

In [49]:
#6. recommend 10 pairs of items to kickstart this campaign.calculation func 
def pair_of_two_different_items(top, bottom):
    pairs = []

    for top_item in top.index:
        for bottom_item in bottom.index:
            if top_item != bottom_item:
                pairs.append((top_item, bottom_item))
    return pairs

all_pairs = pair_of_two_different_items(top_10_best_sellers, bottom_10_sellers)
recommended_10_pairs_of_items = random.sample(all_pairs, 10)
#6.final result:
print(recommended_10_pairs_of_items)

[('BROCADE RING PURSE ', 'missing'), ('JUMBO BAG RED RETROSPOT', 'Unsaleable, destroyed.'), ('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 'Printing smudges/thrown away'), ('PACK OF 72 RETROSPOT CAKE CASES', 'given away'), ('ASSORTED COLOUR BIRD ORNAMENT', '?'), ('SMALL POPCORN HOLDER', 'Zebra invcing error'), ('JUMBO BAG RED RETROSPOT', 'Printing smudges/thrown away'), ('PACK OF 60 PINK PAISLEY CAKE CASES', 'Zebra invcing error'), ('ASSORTED COLOUR BIRD ORNAMENT', 'Printing smudges/thrown away'), ('ASSORTED COLOUR BIRD ORNAMENT', 'given away')]